<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <textarea rows="20" cols="40" disabled = true><%= @script.content %></textarea>
</p>

<p>
  <b>User:</b>
  <%= @script.user_id %>
</p>
<p>
<b> Script with Random Test thrown in</b>
<p>
</p>
 <textarea rows="20" cols="40" disabled = true><%= @script.content.gsub("(test)", @tests.sample.content) %></textarea>

</p>

<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>
