<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <textarea rows="20" cols="40" disabled = true><%= @script.content %></textarea>
</p>

<p>
  <b>User:</b>
  <%= @script.user_id %>

</p>


<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>
