<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b> | <%= link_to 'Edit Test', edit_test_path(@test) %>
  <div>
  <%= @test.content %>
</p>

<p>
  <b>How it looks in the script:</b>
</p>
<p>
   <textarea rows="20" cols="40" disabled = true><%= init_test %></textarea>
</p>



<p>
  <b>See the Script in <%= link_to"Action", @script %></b>
</p>
<p>
Or create a <%= link_to "new test", new_test_path %>.
</p>


<%= link_to 'Back', tests_path %>
