<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @test.content %>
</p>

<p>
  <b>Content:</b>
</p>
<p>
   <textarea rows="20" cols="40" disabled = true><%= @script.gsub("(test)", @test.content) %></textarea>
</p>



<p>
  <b>Script:</b>
  <%= @test.script_id %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
