<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b> | <%= link_to 'Edit Test', edit_test_path(@test) %>
  <div>
  <%= @test.content %>
</p>

<p>
  <b>How it looks in the script:</b>
</p>
<p>
   <textarea rows="20" cols="40" disabled = true><%= @script.gsub("(test)", @test.content) %></textarea>
</p>



<p>
  <b>Script:</b> 
  <%= @test.script_id %>
</p>



<%= link_to 'Back', tests_path %> | <%= link_to 'Go to Script Page', @script %>
